.header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $max-width;
  padding: $spacing-4 0;
  width: $cont-rg;

  @media only screen and (min-width: $screen-md-min) {
    align-items: center;
    flex-direction: row;
  }

  &__logo-title {
    display: flex;
    align-items: center;

    &__logo {
      height: 75px;
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: $spacing-2;
      width: 75px;

      @media only screen and (min-width: $screen-sm-min) {
        margin-right: $spacing-3;
      }
    }

    &__title {
      @include font("heading");
      width: 365px;
      max-width: 100%;

      @media only screen and (min-width: $screen-sm-min) {
        width: 500px;
      }
    }
  }


  &__tut-link {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-top: $spacing-3;

    @media only screen and (min-width: $screen-md-min) {
      margin-left: auto;
      margin-right: unset;
      margin-top: 0;
    }

    &__copy {
      font-weight: $font-bold;
      margin-right: $spacing-2;
    }

    &__icon {
      width: 40px;
      height: 29px;
      
      & .icon {
        fill: map-get($colors, "red-400");
        height: 100%;
        width: 100%;
      }
    }
  }
}