.toolbar {
  margin-bottom: $spacing-4;

  &__search {
    align-items: center;
    display: flex;
    margin-bottom: $spacing-3;
    position: relative;

    &__label {
      position: absolute;
      top: 50%;
      left: $spacing-2;
      transform: translateY(-50%);
    }

    &__input {
      flex-grow: 1;
      margin-right: $spacing-3;
      padding-left: $spacing-4;
      width: 100%;
    }
  }

  &__sort {
    align-items: center;
    display: flex;
    position: relative;

    &__label {
      margin-right: $spacing-3;
    }

    &__select {
      cursor: pointer;
      flex-grow: 1;
      padding-left: $spacing-3;
    }

    & .icon {
      fill: map-get($colors, "gray-400");
      height: 11px;
      pointer-events: none;
      position: absolute;
      right: $spacing-3;
      top: 8px;
      width: 18px;
    }
  }
}