// Import utilities
@import "./reset";

// Temporary custom
body {
  background-color: #6f6767;
  color: white;
  font-family: sans-serif;
}

@mixin container() {
  max-width: 90%;
  margin: 0 auto;
  width: 1000px;
}

// Import components
@import "./components/header";
@import "./components/results";
@import "./components/toolbar";